body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background-color: grey;
    
}
#main{
    background-image: url(https://i.pinimg.com/originals/05/10/f4/0510f4e596283c0d961e4338565a93f3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#top{
    position: fixed;
    background-color: navy;
    /*border: 5px solid rgb(115, 255, 0);*/
    margin: 0px;
    width: 100vw;
    height: 15vh;
    
    
}
#top_title{
    position: fixed;
    font-size: 3vw;
    font-style: italic;
    color: white;
    left: 0vw;
    top: 1vh;
}

.user_info{
    position: fixed;
    top: 1vh;
    right: 0vw;
    font-size: 1vw;
    
}
.user_info h1{
    position: fixed;
    color: white;
    right: 2vw;
    
    
}
.sub_choose{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    width: 25vw;
    height: 25vh;
    background-color: rgba(255, 71, 71, 0.644);
    border-radius: 30px;

}
.sub_choose h1{
    color: white
}
.button_div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.button_div button {
    font-size: 1.5vw;
    width: 8vw;
    height: 10vh;
    border-radius: 30%;
    background-color: rgb(80, 255, 147);
    border: 5px solid black;

}
.button_div button:hover{
    font-size: 1.5vw;
    width: 10vw;
    height: 9vh;
    border-radius: 30%;
    background-color: rgb(50, 226, 89);
    transition: 0.11s;
    border: 5px solid black;

}

#main_sub_choose button{
    font-size: 1.5vw;
    width: 8vw;
    height: 8vh;
    border-radius: 30%;
    background-color: skyblue;
    border: 5px solid black;
}
#other_sub_choose button{
    font-size: 1.5vw;
    width: 8vw;
    height: 8vh;
    border-radius: 30%;
    background-color: skyblue;
    border: 5px solid black;
}
#main_sub_choose button:hover{
    font-size: 1.5vw;
    width: 9vw;
    height: 8vh;
    border-radius: 30%;
    background-color: rgb(63, 193, 245);
    transition: 0.1s;
    border: 5px solid black;
}
#other_sub_choose button:hover{
    font-size: 1.5vw;
    width: 9vw;
    height: 8vh;
    border-radius: 30%;
    background-color: rgb(63, 193, 245);
    transition: 0.1s;
    border: 5px solid black;
}
#main_sub_choose{
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    width: 28vw;
    height: 25vh;
    background-color: grey;
    border-radius: 30px;
    font-size: 2vw;
}

#other_sub_choose{
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    width: 28vw;
    height: 25vh;
    background-color: grey;
    border-radius: 30px;
    font-size: 2vw;
}

#link_space a{
    font-size: 1vw;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 5px solid white;
    padding: 5px;
}
#link_space a:hover{
    font-size: 1vw;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 5px solid white;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.521);
    
}



#language{
    position: fixed;
    top: 6vh;
    right: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}
#language button{
    background-color: white;
    font-size: 1.5vw;
    border-radius: 30px;
}
#language button:hover{
    background-color: rgb(121, 255, 139);
    font-size: 1.5vw;
    border-radius: 30px;
}

#home{
    position: fixed;
    font-size: 2vw;
    top: 5vh;
    right: 2.2vw;
    border-radius: 10px;
}

#home:hover{
    position: fixed;
    font-size: 2vw;
    top: 5vh;
    right: 2.2vw;
    border-radius: 10px;
    background-color: rgb(189, 194, 199);
}

@keyframes link_list{
    0%{height: 0;}
    20%{height: 2vh;}
    40%{height: 5vh;}
    80%{height: 10vh;}
    100%{height: 15vh;}
}

#link_space{
    display: none;
    position: fixed;
    top: 11vh;
    right: 0vw;
    width: 10vw;
    height: 15vh;
    background-color: grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    animation: link_list 0.05s 1;


}

/*function button*/
#function_button{
    font-size: 2vw;
    position: fixed;
    top: 16vh;
    left: 0.6vw;
    border-radius: 10px;
    background-color: aqua;
}
#function_button:hover{
    font-size: 2vw;
    position: fixed;
    top: 16vh;
    left: 0.6vw;
    border-radius: 10px;
    background-color: rgb(2, 221, 221);
}
@keyframes function_list{
    0%{height: 0;}
    20%{height: 5vh;}
    40%{height: 9vh;}
    80%{height: 15vh;}
    100%{height: 20vh;}
}
#function_list{
    display: none;
    position: fixed;
    top: 22vh;
    left: 0vw;
    width: 10vw;
    height: 20vh;
    background-color: grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    animation: function_list 0.05s 1;
}

#function_list button{
    width: 8vw;
    font-size: 1.4vw;
    background-color: aqua;
    border-radius: 15px;
    
}

#function_list button:hover{
    font-size: 1.4vw;
    background-color: rgb(0, 223, 223);
    border-radius: 15px;
    
}

#clear{
    position: fixed;
    top: 11vh;
    right: 19.9vw;
    font-size: 1.5vw;
    width: 8vw;
    border-radius: 20px;
    background-color: rgb(247, 4, 4);
    color: white;
}
#clear:hover{
    position: fixed;
    top: 11vh;
    right: 19.9vw;
    font-size: 1.5vw;
    width: 8vw;
    border-radius: 20px;
    background-color: rgb(207, 7, 7);
    color: white;
}

#grammar_ai{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grammar_ai button{
    font-size: 1.5vw;
    border-radius: 20px ;
}
#grammar_ai h1{
    height: 0px;
    font-size: 1.85vw;
}
#grammar_ai_show_void{
    width: 35vw;
    height: 65vh;
    background-color: grey;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content:  top;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}

#grammar_ai_show_void2{
    
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: row;
}




#azimuth_ai{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#azimuth_ai button{
    font-size: 1.5vw;
    border-radius: 20px ;
}
#azimuth_ai h1{
    height: 0px;
    font-size: 1.85vw;
}
#azimuth_ai_show_void{
    width: 35vw;
    height: 40vh;
    background-color: grey;
    border-radius: 20px;
    opacity: 1;
    display: none;
    justify-content:  top;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#azimuth_ai_show_void2{
    
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: row;
}


@keyframes color_change{
    0%{background-color: rgba(240, 248, 255, 0); color: rgba(240, 248, 255, 0);}
    50%{background-color: aqua; color: rgb(0, 0, 0);}
    100%{background-color: rgba(240, 248, 255, 0);}
}





#welcome_div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(127, 7, 182);
    font-size: 3vw;
    animation: color_change 5s 1;
}



